
@charset "ISO-8859-1";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 0.7rem;
  box-sizing: border-box;
}
.header{
  background:linear-gradient(to right top,#BEFF61e0,#1E7B18e0), url(../MoneyRain.jpg);
  height: 100vh;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: black;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-animated {
  animation: moveInButton 0.5s ease-out;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
}


.heading-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -35%);
  text-align: center;
}
.heading-primary {
  color: black;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary-main {
  display: flex;
  font-size: 6rem;
  font-weight: 40rem;
  justify-content: center;
  animation: final 0.5s linear 3.1s 1 normal forwards ;
}
.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 70rem;
  letter-spacing: 1.75rem;
  position: relative;
  animation: appear 3s linear 5s 1 normal forwards ;
  opacity: 0;
}
#motto {
  color: #fff;
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
  animation: appear 3s linear 5s 1 normal forwards ;
  opacity: 0;
  position: fixed;
bottom: 77px;
}



.menu-logo{
  font-size: 4rem;
  display: flex;
  font-family: 'Rubik', sans-serif;
  align-items: flex-end;
  letter-spacing: 0.5rem;
  padding: 1em;
  color: black;
}
.menu-logo-icon{
 font-size: 3.5rem;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  animation: bottom 5s linear 1s 1 normal forwards ;
  opacity: 0;
}
.menu-signINup{
  padding: 2em;
}
.heading-primary-main-letter{
  transition: 0.5s;
  opacity: 0;
  position: relative;
}
.heading-primary-main .heading-primary-main-letter:hover{
  transform: scale(1.1);
  bottom: 10px;
  box-shadow: 0px 100px 41px -15px rgba(0, 0, 0, 0.2);
  color: white;
   transition: 0.5s;
}
.heading-primary-main .heading-primary-main-letter:nth-child(odd){
  animation: left 3s linear 0s 1 normal forwards ;
}
.heading-primary-main .heading-primary-main-letter:nth-child(even){
  animation: right 3s linear 0s 1 normal forwards ;
}
@keyframes left{
  0%{
    left: 130%;
    opacity: 1;
  }
  77%{
    left: -5%;
  }
  100%{
    left:0%;
   opacity: 1;
 }
 }
 @keyframes right{
  0%{
    right: 130%;
    opacity: 1;
  }
  77%{
    right: -5%;
  }
  100%{
    right:0%;
   opacity: 1;
 }
 }
 @keyframes bottom{
  0%{
    bottom: 130%;
    opacity: 1;
  }
  77%{
    bottom: -1%;
  }
  100%{
    bottom:0%;
   opacity: 1;
 }
}
@keyframes appear{
  0%{
    opacity: 0;
  }
  100%{
   opacity: 1;
 }
}
@keyframes final{
  0%{
    letter-spacing: 0rem;
    transform: scale(1);
  }

  100%{
    letter-spacing: 3rem;
    transform: scale(1.1);
  }
}
